// Styles for all of the user pages:
// Login, Signup, Support

.pageLogin{
 h3{
    text-align: center;
  },
  input[type=text]{
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
  },
  input[type=password]{
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
  }
}
.loginSocial{
  margin-bottom: 0;
  ion-item{
   h2{
      text-align: center;
      font-size: 2em;
      padding: 1em;
   }
  }
}