

  <!--  our side menu  -->
  <ion-menu [content]="content">
    <ion-header >
      <ion-toolbar color="danger" *ngIf="this.user" >
        <ion-avatar class="menu-avatar">
          <img src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-1/p160x160/19424236_1346856008766241_4323090789144501141_n.jpg?oh=98edd4bbba45b683535d23c5f3aef39a&oe=59D3458F">
        </ion-avatar>
        <h3  menuClose class="title" (click)="openProfile()">{{this.user.email || 'No name'}}</h3>
      </ion-toolbar>
    </ion-header>
    <ion-content class="">
      <ion-list>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
      
      <ion-list>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-left name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>
      <ion-list>
        <button ion-item menuClose (click)="logout()">
          <ion-icon item-left name="log-out"></ion-icon>
          Logout
        </button>
      </ion-list>

    </ion-content>
  </ion-menu>


  <!-- the main content -->
  <ion-nav id="myMenu" [root]="rootPage"  #content main></ion-nav>
