

  <!--  our side menu  -->
  <ion-menu [content]="content">
    <ion-header >
      <ion-toolbar color="danger">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" ></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
      <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-left name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>

    </ion-content>
  </ion-menu>


  <!-- the main content -->
  <ion-nav [root]="rootPage"  #content main></ion-nav>
